<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-repeat="feed in feeds">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-4 text-center">
                    <br>
                    <a class="h3 text-muted" ui-sref="player({name: feed.p1})">{{feed.p1}}</a>
                </div>
                <div class="col-xs-4 text-center">
                    <h3><span class="text-primary">{{feed.setsP1}}</span> - <span class="text-primary">{{feed.setsP2}}</span> </h3>
                </div>
                <div class="col-xs-4 text-center">
                    <br>
                    <a class="h3 text-muted" ui-sref="player({name: feed.p2})">{{feed.p2}}</a>
                </div>
                <div class="col-xs-12 text-center">
                    <h4><small>
                        {{feed.title}} &nbsp;&nbsp;&nbsp; {{feed.date | feedDate}}
                    </small></h4>
                </div>
                <div class="col-xs-12 text-right">
                    <a class="btn btn-primary" ui-sref="match({id: feed.id})">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <nav>
            <ul class="pager">
                <li class="previous" ng-click="prevFeeds()" ng-hide="currentPage <= 1"><a>Newer</a></li>
                <li class="next" ng-click="nextFeeds()" ng-hide="!hasNext"><a>Older</a></li>
            </ul>
        </nav>
    </div>
</div>